html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    background-color: #3a3a3a;
}
  
#signup-main-holder {
    /*width: 250px;
    height: 400px;*/
    display: grid;
    justify-items: center;
    align-items: center;
    /*background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;*/
}
  
#signup-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}
  
.signup-form-field::placeholder {
    color: #3a3a3a;
}
  
.signup-form-field {
    background-color: rgb(228, 204, 204);
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 4px;
    outline: none;
    box-shadow: 0px 0px 6px 2px black;
    padding: 0px 0px 5px 5px;
}
  
#signup-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    box-shadow: 0px 0px 3px 1px black;
    cursor: pointer;
    outline: none;
    padding: 4px;
}
